@{
    Layout = "_Layout";
}
<div class="text-center">
    <h1 class="display-4" style="color: darksalmon">Hello World</h1>
    <p>A complete CRUD Asp.Net Core and Razor Pages Web Application for Managing Student Course Enrollment Records and APIs for Managing User Records</p>
</div>